<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jx3"
        android:label="辅助app"
        android:roundIcon="@mipmap/jx3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemListActivity"
            android:label="成就"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="详细信息"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.ItemListActivity" />
        </activity>
        <activity android:name=".ChengJiu" />
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>